@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        font-family: "Figtree", sans-serif;
        font-optical-sizing: auto;
    }
}

.main-container {
    @apply flex items-center justify-center bg-yellow-300 h-screen;
}

.article-container {
    @apply flex flex-col items-start bg-white  drop-shadow border rounded-3xl border-gray-950 space-y-6 p-6 w-[87vw] max-w-[387px];
}

.text-container {
    @apply flex flex-col space-y-3 text-left;
}

.tag-text-container {
    @apply flex flex-col justify-between items-start;
}

.tag-text {
    @apply px-3 py-1 bg-yellow-300 rounded-e rounded-s font-extrabold text-gray-950;
    font-size: clamp(10px, 3.2vw, 14px);
}

.date-text {
    @apply font-medium text-gray-950;
    font-size: clamp(10px, 3.2vw, 14px);
}

.title-text {
    @apply font-extrabold text-gray-950;
    font-size: clamp(10px, 5.3vw, 24px);
}

.description-text {
    @apply font-medium text-gray-500;
    font-size: clamp(10px, 3.7vw, 16px);
}

.author-container {
    @apply flex flex-row space-x-3 items-start;
}
